[submodule "modules/history-substring-search/external"]
	path = modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
	branch = master
[submodule "modules/syntax-highlighting/external"]
	path = modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "modules/completion/external"]
	path = modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
	branch = master
[submodule "modules/prompt/external/powerline"]
	path = modules/prompt/external/powerline
	url = https://github.com/davidjrice/prezto_powerline.git
	branch = master
[submodule "modules/prompt/external/agnoster"]
	path = modules/prompt/external/agnoster
	url = https://gist.github.com/3712874.git
	branch = master
[submodule "modules/prompt/functions/pure"]
	path = modules/prompt/external/pure
	url = https://github.com/sindresorhus/pure.git
	branch = master
[submodule "zaw"]
	path = modules/zaw
	url = git://github.com/zsh-users/zaw.git
	branch = master
[submodule "opp"]
	path = modules/opp
	url = https://github.com/hchbaw/opp.zsh.git
	branch = master
[submodule "modules/dwim"]
	path = modules/dwim
	url = https://github.com/oknowton/zsh-dwim.git
	branch = master
[submodule "fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule "modules/dircolors-solarized"]
	path = modules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule "modules/scd"]
	path = modules/scd
	url = https://github.com/minijackson/scd.git
	branch = master
[submodule "modules/k"]
	path = modules/k
	url = https://github.com/supercrabtree/k.git
	branch = master
[submodule "modules/completion/jrnl-completion"]
	path = modules/completion/jrnl-completion
	url = https://github.com/mvoelske/jrnl-zsh-completion.git
	branch = master
